@font-face {
  font-family: "Title Wave Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Title Wave Regular"), url("./titlewv.ttf") format("truetype");
}

@font-face {
  font-family: "Stencilia-A";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Stencilia-A"), url("./Stencilia-A.ttf") format("truetype");
}

html {
  font-family: Source Sans Pro, sans-serif;
}

body {
  margin: 0;
}
